/* .cardmain{
    display: flex;
    margin:   10px;
    flex-direction: column;
    height: 50vh;
    width: 30ch;
   justify-content: center;
    margin-left: 20px;
    background-color: #fff;
    border-radius: 12px;
    text-align: center;
}
.cardTitle{
    width: 100%;
    height:7vh;
   
    background-color: #fff;

    
}
.cardImg{
    width: 100%;
    background-color: #cbff96;
    height: 30vh;
}
.cardCap{
    width: 100%;
    background-color: #fff;
    height: 10vh;
} */
